<navigation></navigation>

<h2>Сводная информация о пациенте:</h2>
<div class="container-fluid">
  <div class="container">
    <div style="margin-top: 30px" class="panel panel-default text-center col-md-12">
      <div class="panel-heading text-center">
        <h4> Клиент: {{client.firstName + " " + client.lastName}} </h4>
      </div>

      <div class="panel-body" style="font-size: 16px;">
        Номер телефона: {{client.phoneNumber}} <br/>
        E-mail: {{client.email}}
      </div>
    </div>
  </div>

  <div class="container">
    <div style="margin-top: 30px" class="panel panel-default text-center col-md-12">
      <div class="panel-heading text-center">
        <h4> Пациент № {{patient.animal.id}} </h4>
      </div>

      <div class="panel-body" style="font-size: 16px;">
        Возраст: {{patient.animal.age}} <br/>
        Жалоба клиента:
        <div class="panel panel-default">
          <div class="panel-body" style="overflow-wrap: break-word;">
            {{patient.description}}
          </div>
        </div>
        Статус пациента : {{patient.status}} <br/>
        Дата начала лечения: {{patient.startDate}}
      </div>
    </div>
  </div>
</div>
<br/>

<div class="text-center">
  <button class="btn btn-primary" style="margin-top: 10px" (click)="done()">
    Лечение завершено
  </button>

  <br/>
  <button class="btn btn-danger" style="margin-top: 30px" (click)="rejection()">
    Отказаться от пациента
  </button>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="com-md-12">
      <h3>История обращений:</h3>

      <div *ngFor="let issue of issues">
        <div class="container-fluid">
          <div class="container">
            <div style="margin-top: 30px" class="panel panel-default text-center col-md-12">
              <div class="panel-heading text-center">
                {{issue.header}}
              </div>

              <div class="panel-body" style="font-size: 16px;">
                Дата обращения: {{issue.requestDate | date}}

                <div style="margin-top: 10px">
                  <button class="btn btn-primary" (click)="showIssueDetails(issue.issueId)">
                    Подробнее
                  </button>
                </div>

                <ng-template #issueClosed>
          <span style="background-color: red">
            Обращение закрыто
          </span>
                </ng-template>

              </div>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>

