<navigation></navigation>
<h2>Личный кабинет клиента</h2>
<hr>
<h3>Данные пользователя</h3>
<div style="font-size: 16px; padding-left: 30px">
  <label>Почта: {{user.email}}</label> <br/>
  <label>Имя: {{user.firstName}}</label> <br/>
  <label>Фамилия: {{user.lastName}}</label> <br/>
  <label>Номер телефона: {{user.phoneNumber}}</label> <br/>
  <label>Дата регистрации: {{user.regDate}}</label> <br/>

  <button type="button" class="btn btn-primary" [routerLink]="['../user/pets']">
    Питомцы
  </button>

  <h3>Ваше последнее обращение: </h3>

  <div class="panel panel-default text-center col-md-4">
    <div class="panel-heading text-center">
      <h4> Заголовок обращения: {{lastIssue.header}} </h4>
    </div>
    <div class="panel-body" style="font-size: 16px;">
      <button class="btn btn-primary" (click)="showDetails()">
        Подробнее
      </button>
    </div>
  </div>
</div>
