<navigation></navigation>

<label>Choose a browser from this list:
  <input id='input' type='text' #val list="browsers" name="myBrowser" (keyup.enter)="onSelect(val)" (keyup)="onInput(val)"/></label>
<datalist id="browsers">
    <option *ngFor="let c of clients" (value)="c" [ngValue]="c"> {{c}} </option>
</datalist>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>№</th>
    <th>Клиент</th>
    <th>Возраст питомца</th>
    <th>Описание проблемы</th>
    <th>Статус</th>
    <th></th>
  </tr>
  </thead>
  <tr *ngFor="let patient of patients">
    <th>{{patient.id}}</th>
    <th>{{getClientName(patient.animal.id)}}</th>
    <th>{{patient.animal.age}}</th>
    <th>{{patient.description}}</th>
    <th>{{patient.status}}</th>

    <th>
      <button class="btn btn-primary" (click)="showDetails(patient)">
        Подробнее
      </button>
    </th>
  </tr>
</table>
