<navigation></navigation>


<label>Имя клиента:
  <!--(keyup)="onInput(val)"-->
  <input id='input' type='text' #val list="browsers" name="myBrowser" (keyup.enter)="onSelect(val)"/></label>
<datalist id="browsers">
  <option *ngFor="let esPatient of esPatients" (value)="esPatient.clientName" [ngValue]="esPatient.clientName">
    {{esPatient.clientName}}
  </option>
</datalist>


<table class="table table-striped table-bordered" style="margin-top: 40px">
  <thead>
  <tr>
    <th>№</th>
    <th>Клиент</th>
    <th>Возраст питомца</th>
    <th>Описание проблемы</th>
    <th>Статус</th>
    <th></th>
  </tr>
  </thead>
  <tr *ngFor="let patient of pagedPatients">
    <th>{{patient.id}}</th>
    <th>{{getClientwName(patient.animal.id)}}</th>
    <th>{{patient.animal.age}}</th>
    <th>{{patient.description}}</th>
    <th>{{patient.status}}</th>

    <th>
      <button class="btn btn-primary" (click)="showDetails(patient)">
        Подробнее
      </button>
    </th>
  </tr>
</table>

<div class="text-center">
  <!-- pager -->
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
  </ul>
</div>
