<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a class="navbar-brand">Vet clinic</a>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Tables <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['../user']">Users</a></li>
            <li><a [routerLink]="['../employee']">Employees</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
