<body onload="initMap()">
<navigation></navigation>

<div style="margin-left: 30px">
  <h2>
    Контакты
  </h2>
  <hr>

  <p style="font-size: 16px">
    Наш телефон: +7(473) 258-65-71; +7(952) 555-45-35; +7(908) 144-94-71 <br/>
    Вызов ветеринара на дом: +7(908) 144-94-71 <br/>
    Ветеринарная клиника находится по адресу: г. Воронеж, Кольцовская ул., д. 35, 1 этаж <br/> <br/>
    Электоронная почта: zoo-vrn@yandex.ru Мы работаем с 10.00 до 21.00 без перерыва и выходных.
  </p>

  <h3 align="center">Наше местоположение</h3>

</div>

<div id="map" style="width: 100%; height: 400px">
</div>

</body>



