<navigation></navigation>

<div style="margin-left: 30px">
  <h2>
    Контакты
  </h2>
  <hr>

  <script>
    console.log("sad");
  </script>

  <p style="font-size: 16px">
    Наш телефон: +7(473) 258-65-71; +7(952) 555-45-35; +7(908) 144-94-71 <br/>
    Вызов ветеринара на дом: +7(908) 144-94-71 <br/>
    Ветеринарная клиника находится по адресу: г. Воронеж, Кольцовская ул., д. 35, 1 этаж <br/> <br/>
    Электоронная почта: zoo-vrn@yandex.ru Мы работаем с 10.00 до 21.00 без перерыва и выходных.
  </p>

  <h3 align="center">Наше местоположение</h3>


</div>

<div id="map" style="width: 100%; height: 400px"></div>


<!--<h3>My Google Maps Demo</h3>-->
<!--<div id="map"></div>-->
<!--<script>-->
<!--function initMap() {-->
<!--var uluru = {lat: -25.363, lng: 131.044};-->
<!--var map = new google.maps.Map(document.getElementById('map'), {-->
<!--zoom: 4,-->
<!--center: uluru-->
<!--});-->
<!--var marker = new google.maps.Marker({-->
<!--position: uluru,-->
<!--map: map-->
<!--});-->
<!--}-->
<!--</script>-->
<!--<script async defer-->
<!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOj0pv-PkoI95h62p_0Fsuvohy3FIpzt4&callback=initMap">-->
<!--</script>-->
