<navigation></navigation>

<img src="/assets/images/welcome_cat.jpg" style="width: 100%; height: 100%">

<h2 style="text-align: center;">
  Ветеринарная клиника работает<br/>
  по следующим направлениям:
</h2>

<div align="center" class="container" style="">
  <div class="col-md-3">
    <img src="/assets/images/terapiya.png">
  </div>
  <div class="col-md-3">
    <img src="/assets/images/hirurgiya.png">
  </div>
  <div class="col-md-3">
    <img src="/assets/images/ortopedia.png">
  </div>
  <div class="col-md-3">
    <img src="/assets/images/stomatologia.png">
  </div>

  <div class="col-md-3">
    <img src="/assets/images/rentgen.png">
  </div>
  <div class="col-md-3">
    <img src="/assets/images/laboratoriya.png">
  </div>
  <div class="col-md-3">
    <img src="/assets/images/oftalmologiya.png">
  </div>
  <div class="col-md-3">
    <img src="/assets/images/dermatologiya.png">
  </div>

  <div class="col-md-3">
    <img src="/assets/images/kosmeticheskiye.png">
  </div>
  <div class="col-md-3">
    <img src="/assets/images/zootovary.png">
  </div>
  <div class="col-md-3">
    <img src="/assets/images/stacionar.png">
  </div>
  <div class="col-md-3">
    <img src="/assets/images/endoskopiya.png">
  </div>
</div>

<div style="margin-left: 30px; margin-top: 50px; text-align: center;">

  <h1 style="text-align: center;">
    Ветеринарная клиника — современная <br/> ветклиника Воронежа.
  </h1>
  <h2 style="text-align: center;">
    Ветеринарная клиника специализируется на диагностике и лечении <br/>
    заболеваний мелких домашних животных в Воронеже и области.
  </h2>

  <p style="font-size: 18px; ">

    За 10 лет работы нашими постоянными клиентами стали домашние любимцы многих Воронежцев. Нам очень приятно, что
    основная
    часть новых клиентов обращается в нашу ветклинику именно по рекомендациям друзей знакомых и родственников, это
    является
    лучшим показателем качества работы врачей нашей ветеринарной клиники. <br/>

    На базе ветклиники в Воронеже осуществляется всесторонняя лабораторная диагностика — более 500 видов
    исследований.
    Ветеринарная клиника располагает необходимым диагностическим оборудование, благодаря этому проводится быстрая и
    точная
    диагностика заболеваний. Набор современной аппаратуры применяется как для стандартного перечня обследований, так
    и для
    более сложных процедур. Всегда есть возможность выполнить рентгенологические или ультразвуковое исследования,
    провести
    эндоскопические исследования, снять ЭКГ сердца. <br/>

    Раньше все эти технологии были доступны только для человека, но сейчас их успешно применяют и при лечении
    братьев наших
    меньших. Для вашего питомца используется современная анестезия, наиболее эффективные медикаменты, методы и схемы
    лечения. Уровень оснащения клиники и квалификация врачей позволяет диагностировать сложные патологии,проводить
    уникальные, для нашего города, хирургические операции.<br/><br/>

    <span style="font-size: 24px; ">
      Наша команда:
    </span> <br/>

    <img style="margin-top: 20px" src="/assets/images/vetclinic_team.jpg"/> <br/>

    <span style="display: block; margin-top: 30px">
          Цель нашей работы — помочь животным, сделать их активными, жизнерадостными и самое главное, здоровыми.
    </span>
  </p>

</div>
