<navigation></navigation>

<h2>Новые пациенты: </h2>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>№</th>
    <th>Возраст питомца</th>
    <th>Описание проблемы</th>
    <th></th>
  </tr>
  </thead>
  <tr *ngFor="let patient of patients">
    <th>{{patient.id}}</th>
    <th>{{patient.animal.age}}</th>
    <th>{{patient.description}}</th>
    <th>
      <button class="btn btn-primary" (click)="takePatient(patient)">
        Взять пациента
      </button>
    </th>
  </tr>
</table>
