<div class="container" style="margin: 15px">

  <div class="row" style="margin-bottom: 10px">
    <div *ngIf="error" style="color: red;">
      Error :   {{error}}
    </div>
  </div>

  <div class="row">
    <label for="email" class="col-sm-2 control-label">
      Email
    </label>
    <div class="col-sm-4">
      <input class="form-control" id="email" name="email"
             [(ngModel)]="employee.email"
             placeholder="Email"/>
    </div>
  </div>

  <div class="row">
    <label for="password" class="col-sm-2 control-label">
      Password
    </label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="password" name="password"
             [(ngModel)]="employee.password"
             placeholder="Password"/>
    </div>
  </div>
  <div class="row">
    <button type="submit"
            style="font-size: 15px;"
            class="btn btn-primary btn-sm"
            data-dismiss="modal" aria-label="Close"
            (click)="login()">
      Login
    </button>
  </div>

</div>


