<navigation></navigation>
<h2>Личный кабинет сотрудника</h2>
<hr>
<h3>Данные сотрудника</h3>
<div style="font-size: 16px; padding-left: 30px">
  <label>Почта: {{employee.email}}</label> <br/>
  <label>Имя: {{employee.firstName}}</label> <br/>
  <label>Фамилия: {{employee.lastName}}</label> <br/>
  <label>Номер телефона: {{employee.phoneNumber}}</label> <br/>
  <label>Дата регистрации: {{employee.regDate}}</label> <br/>
  <hr>

  <button type="button" class="btn btn-info"
          routerLink="/employee/dashboard"
          style="margin-top: 30px">
    Dashboard
  </button>

  <h3>Обращения:</h3>
  ~not yet~



</div>
